<h1>HOMEPAGE<h1>
    <h1>HELLO TEAM DevTown<h1>
  
    <a href="/project/views/register.ejs">
      <button>REGISTER</button>
    </a> 
    <br>
    <br>
    <a href="/project/views/login.ejs">
      <button>LOGIN</button>
    </a>